application_bike_data_pFFPLS/results_bike/
application_bike_data_pFFPLS/Rplots.pdf
application_bike_data_pFFPLS/application_bike_data_pFFPLS.Rproj
simulation_study_pFFPLS/results_simulations/
simulation_study_pFFPLS/Rplots.pdf
.Rproj.user
.Rhistory
.RData
.Ruserdata